<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="icon" type="image/png" href="./images/favicon.png" sizes="16x16">
</head>
<body>

<div class="ui inverted menu">
    <div class="ui container">
        <div class="header item">
            <a href="/">
                <i class="envelope open outline icon"></i>
                BLOG
            </a>
        </div>
        <div class="menu">
            <a class="item" href="/">
                <i class="home icon"></i>
            </a>
        </div>
        <div class="right menu">
            <% if (!currentUser) { %> 
                <a class="item" href="/login" data-tooltip="Login" data-position="bottom right" data-inverted="">
                    <i class="sign-in icon"></i>
                </a>
            <% } else { %>
                <a class="item" href="#">
                    <i class="user icon"></i>
                    Hi, <%= currentUser.username.charAt(0).toUpperCase() + currentUser.username.slice(1) %>
                </a>
                <a class="item" href="/posts/new" data-tooltip="Add Post" data-position="bottom right" data-inverted="">
                    <i class="plus icon"></i>
                </a>
                <a class="item" href="/logout" data-tooltip="Logout" data-position="bottom right" data-inverted="">
                    <i class="sign-out icon"></i>
                </a>
            <% } %> 
        </div>    
    </div>
</div>

<div class="ui container">
    <% if (error && error.length > 0) { %>
        <div class="ui orange message">
            <p><%= error %></p>
        </div>
    <% } %>
    <% if (success && success.length > 0) { %>  
        <div class="ui olive message">
            <p><%= success %></p>
        </div>
    <% } %> 
</div>

<div class="ui hidden divider"></div>